extends layout.pug
	
block customized-script
	<!-- customized script -->
	script(src=param['custom-script']).	
	
block config-form
	form(action=param['form-action'], name='NLP', method='post',class="form-horizontal",id="upload")
		each container in param['containers']
			div(id=container['container-name'])
				div(class="form-group")
					label(class="control-label col-md-2 col-md-2 col-xs-12",for="") #{container['container-label-name']}
					div(class="col-md-8 col-md-8 col-xs-12")
						each input in container['inputs']
							
							if input['type'] == 'radio'
								label(class="radio-inline")
									input(type=input.type name=input.name id=input.id value=input.value class=input.class checked=input.checked) 
									| #{input['label']}
								
								
							else if input['type'] == 'select'
								if input['optgroup']
									select(class=input.class id=input.id name=input.name)
										option(val="", class="", id="empty", checked) Please Select...
										each val,key in directory
											optgroup(label=key)
											each item in val
												option(val=item, class=key, id=item) #{item}
									
									script.
										$(`##{container['container-name']}`).after(`<div id="selectFilePreview-container">`)
										$("#selectFilePreview-container").after(`<div id="selectFileHeader-container">`)
									
								else
									select(name=input.name id=input.id class=input.class)
										each opt in input.options
											option(value=opt.value) #{opt.label}
									
							else if input['type'] == 'text'
								input(id=input.id type=input.type name=input.name value=input.value class=input.class)
								
							else if input['type'] == 'range'
								div(class="range range-node")
									input(type=input.type, min=input.min, max=input.max, value=input.value, step=input.step, name=input.name, onchange=input.onchange, id=input.id)
									output(id=input.output_id) #{input.value}
	
		
		
		div(class="form-group")
			div(class="col-md-8 col-md-8 col-xs-12 col-md-offset-2")
				input(type="button", onclick="ajaxSubmit(`#upload`);", class='btn btn-danger',value="Submit") 
				span 
				input(type="button", class='btn btn-primary', value="Reset", onclick="customized_reset();") 
					
				
