doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- this is for bootstrap 3! -->
		link(href="../bootstrap/css/bootstrap.css", rel="stylesheet")
		<!-- this is the customized dashboard style -->
		link(href="../bootstrap/css/customized/component.css",rel="stylesheet")
		link(href="../bootstrap/css/customized/index.css",rel="stylesheet")
		
		<!-- font family -->
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="../bootstrap/js/bootstrap.min.js")
	
	body
		include components/topbar.pug
		include components/warning.pug
		include components/sitemap.pug					
								
		div(class="headers")
			h1(class="caption") Social Media Analytics Research Toolset
			section(class="intro")
				div(class="header-component")
					img(src="../bootstrap/img/logo/search-logo.png",width="150px")
				div(class="header-component")
					h4(class="header") Search data from social media platforms
				div(class="header-component")
					img(src="../bootstrap/img/logo/transform-logo.png",width="150px")
				div(class="header-component")
					h4(class="header") Aggregate raw results and transform to tabular format
				div(class="header-component")
					img(src="../bootstrap/img/logo/analytics-logo.png",width="150px")
				div(class="header-component")
					h4(class="header") Analyze and visualize
			div(class="button-unit")
				a(class="button" href="/query") Get Started
				a(class="button" href="/history") Past Results
		each page,i in pages
			if i%2 === 0
				div(class="even")
					section(class="even")
						div(class="prose",id=page.name)
							h1(class="app-title") #{page.name}
							p(class="intro",id=page.name) !{page.introduction}
							a(class="prose-button" href=page.wiki) Read More
							a(class="prose-button" href=page.url) Start
						div(class="app")
							a(href=page.url)
								img(src=page.imgURL, width="400px", class="logos")
			else
				div(class="odd")
					section(class="odd")
						div(class="app", id=page.name)
							a(href=page.url)
								img(src=page.imgURL, width="400px", class="logos")
						div(class="prose")
							h1(class="app-title") #{page.name}
							p(class="intro") !{page.introduction}
							a(class="prose-button" href=page.wiki) Read More
							a(class="prose-button" href=page.url) Start		
			
							
		
		