doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- this is for bootstrap 3! -->
		link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet")
		<!-- this is the customized search box style -->
		link(href="../bootstrap/css/customized/search.css",rel="stylesheet")
		link(href="../bootstrap/css/customized/component.css",rel="stylesheet")
		
		<!-- font family -->
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		
		<!-- JQUERY -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="../bootstrap/js/bootstrap.min.js")
		
		<!-- Include the plugin's CSS and JS: -->
		<script src="../bootstrap/js/bootstrap-multiselect.js"></script>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
	
		script(src="../bootstrap/js/customized/query_pb.js")
		script(src="../bootstrap/js/customized/query_formValid.js")
		script(src="../bootstrap/js/customized/query_submit.js")
		
	body(onload="init()")
		<!-- top bar -->
		include ../components/topbar.pug
		include ../components/warning.pug
		include ../components/clientside-warning.pug
		include ../components/sitemap.pug
		
		<!-- auth -->
		div(id="auth-panel")
			p(style="font-size:50px; margin:30px 30px; color:white;") Authorization
			
			a(href='/login/twitter', class="button", id="twitter-auth") 
				img(src='../bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
				| Authorize with your Twitter account
		
			a(href='/login/es', class="button", id="es-auth")
				img(src='../bootstrap/img/logo/elasticsearch-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
				| Authorize with your AWS ElasticSearch account
			
		
		div(class="searchPage",id="searchPage")
			<!-- logo -->
			div(class="row" id="header",style="")
				img(src="../bootstrap/img/logo/queryPage-logo.png",width="500px",style="display:block;margin:auto auto;")
			
			<!-- search --->
			div(class="row")
				div(id="tabs")
					select(class="selectpicker show-tick" id="social-media" title="Choose a Platform..." data-width="220px")
						optgroup(label="Twitter")
							option(data-icon="glyphicon-envelope" value="queryTweet") Tweets
							option(data-icon="glyphicon-user" value="queryUser") Twitter Users
						optgroup(label="Twitter Stream Database")
							option(data-icon="glyphicon-envelope" value="streamTweet") Streamed Tweets
								
					include searchbox.pug
						
			<!-- rendering -->
			div(id="grid")
								
		<!-- popup modal save -->
		div(id="save" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal") &times;
						h2(class="modal-title")
							span(class="glyphicon glyphicon-floppy-save" style="font-size:20px;margin-left:5px") 
							| Save the result 
					
					div(class="modal-body" style="text-align:center;vertical-aligcd :middle;")
						form(class="form-horizontal")
							div(class="form-group")
								label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Filename
								div(class="col-md-7 col-md-7 col-xs-12")
									input(class="form-control" id="filename" placeholder="filename")
							div(class="form-group")
								label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Downloadable Files
								div(class="col-md-7 col-md-7 col-xs-12")
									div(id="display")
						div(class="loading" style="display:none")
							img(src="../bootstrap/img/loading2.gif", width="15%", height="15%", style="display:block; margin-left:auto; margin-right:auto; margin-top:10px")
					div(class="modal-footer")
						button(class="btn btn-primary", id="saveButton") Save
						button(class="btn btn-default",data-dismiss="modal") Close
		
		<!-- popup modal download-->
		div(id="success" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal") &times;
						h2(class="modal-title" id="modal-title") Download Your Search Results
					
					div(class="modal-body" style="vertical-align:middle;font-size:20px;")
						div(id="modal-download")
						
					div(class="modal-footer")
						a(href="/" class="btn btn-primary" style="background-color:#c84b49;border-style:hidden") Go To Analytics
						button(class="btn btn-default" data-dismiss="modal") Close
						
						
						
		<!-- side bar HELP-->
		div(class="documentation",id="documentation")
			iframe(id="docIframe", src="../graphql-doc/schema/index.html",width="100%",scrolling="yes",style="padding-top: 40px;margin:0 0;")
							
							
		
		script.
			if ( !{JSON.stringify(success.length)} === 0 ){
				console.log('here');
				$(".searchPage").hide();
			}
			if (!{JSON.stringify(success)}.indexOf('twitter') >=0){
				$("#twitter-auth").hide();
				$("#searchPage").hide();
			}
			if (!{JSON.stringify(success)}.indexOf('es') >=0){
				$("#es-auth").hide();
				$("#searchPage").hide();
			}
			if (!{JSON.stringify(success)}.indexOf('es') >=0 && !{JSON.stringify(success)}.indexOf('twitter') >=0){
				console.log("all done");
				$("#auth-panel").hide();
				$("#searchPage").show();
			}
		
							
							
							
							
							