doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- this is for bootstrap 3! -->
		link(href="bootstrap/css/bootstrap.css", rel="stylesheet")
		link(rel="stylesheet",
			href="https://use.fontawesome.com/releases/v5.0.10/css/all.css",
			integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg",
			crossorigin="anonymous")
		<!-- this is the customized dashboard style -->
		link(href="bootstrap/css/customized/index.css", rel="stylesheet")
		link(href="bootstrap/css/customized/global.css", rel="stylesheet")

		<!-- font family -->
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		
		<!-- jquery cookie plugin -->
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")
		script(src="bootstrap/js/customized/detect_cookie.js")

		<!-- customized -->
		script(src="bootstrap/js/customized/warning_trigger.js")
		script(src="bootstrap/js/customized/parse_session.js")
	
	body
		include components/topbar.pug
		include components/export.pug
		include components/terminate.pug
		include components/warning.pug
		include components/clientside-warning.pug
		include components/cookie.pug
								
		div(class="headers")
			img(id="index-banner", src="bootstrap/img/logo/index-banner.png", width="70%")
			p One platform for social media data ingestion, pre-processing, and analysis.
			a(class="btn btn-default button" href="citation" id="get-started") Get Started
			a(id="learn-more", href="#Searching Social Media") Learn more >
				
		each page,i in pages
			if i%2 === 0
				div(class="even")
					if i === 0
						img(src="bootstrap/img/logo/provides.png", width=250)
					section(class="even")
						div(class="prose",id=page.name)
							h1(class="app-title") #{page.name}
							p(class="intro",id=page.name) !{page.introduction}
							a(class="prose-button",href=page.wiki,target="_blank") Read More

							if page.url !== ''
								a(class="prose-button",href=page.url,id=page.url) Start
						div(class="app")
							a(href=page.url)
								img(src=page.imgURL,class="logos")
			else
				div(class="odd")
					section(class="odd")
						div(class="app", id=page.name)
							a(href=page.url)
								img(src=page.imgURL, class="logos")
						div(class="prose")
							h1(class="app-title") #{page.name}
							p(class="intro") !{page.introduction}
							a(class="prose-button",href=page.wiki,target="_blank") Read More
							if page.url !== ''
								a(class="prose-button",href=page.url,id=page.url) Start
										
		include components/footer.pug								
				
		script.
			$("#citation-notice-btn").click(function(){

				// hide citation; show start buttons;
				$("#citation-notice").hide('slow');
				$(".fadein").show('slow');
				$(".button-unit").show('slow');

				// scroll down
				$("html, body").animate({ scrollTop: $("#get-started").offset().top/2 }, 1000);

			});
					
		script(src="bootstrap/js/customized/hotkeys.js").	
